.widgetBoard {
    flex: 1;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.boardTitle {
    font-size: 32px;
    font-weight: 600;
    color: #4E8A3E;
}

.listImg{
    font: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: fill;
}

.boardList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 35px;
}

.wordSearch{
    display: flex;
    flex-direction: column;
}

.word {
    font-weight: 700;
    font-size: 24px;
}

.boardButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: default;
    padding: 7px 10px;
    background-color: #4E8A3E;
    color: white;
    font-weight: 600;
}

.legend {
    margin-top: 2%;
}